* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  

  body {
    margin: 0;
    padding: 0;
    background-image: url(img/fooon.jpg);
    background-size: cover;
    color: #fff;
  }
  

  header {
    background-color: #333;
    padding: 20px;
  }
  

  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
  }
  

  p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }
  .par {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  

  main {
    padding: 20px;
  }
  

  section {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  

  .image-container {
    width: 20%;
    transition:0.5s;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  

  .text-container {
    width: 60%;
    text-align: left;
  }
  

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
 
  footer {
    background-color: #333;
    padding: 20px;
  }
  

  .block {
    animation: fade-in 1s ease-in-out;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }